<h2>Log out</h2>
<form action="/signup" method="POST">

  <label class="form-label">
    Username
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Your username"
    />
  </label>

  <label class="form-label">
    Password
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Your password"
    />
  </label>

  <button type="submit">Sign Up</button>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>